html {
    height:100%;
    min-height:100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #373737;
    font-size: 24px;
    min-width: 150px;
}
div.middle {
    background-color: #272727;
    position: absolute;
    left: 12%;
    width: 76%;
    height: calc(100% - 2em);
    padding-top: 2em;
}
div.button{
    position: static;
    box-sizing: border-box;
    height: 6.2em;
    border-bottom: 0.2em solid #171717;
    background-color: #272727;
}
div.button a {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 4em;
    text-decoration: none;
    background-color: #272727;
    font-size: 1.5em;
    color: #FFE400;
    padding: 0.8em;
}
h1 {
    padding: 0.5em;
    padding-bottom: 1em;
    margin: 0;
    color: grey;
    font-size: 2.5em;
    border-bottom: 0.08em solid #171717;
}
span.logo {
    position: absolute;
    font-size: 2.5em;
    padding: 0;
    margin-right: 0.8em;
    margin-top: 0;
    top: 0;
    left: 0.2em;
}
span.description {
    color: grey;
    font-size: 1.5em;
    position: absolute;
    left: 2.5em;
    top: 0.8em;
    padding: 0;
    margin: 0;
}
span.logo img {
    margin-top: 0.3em;
    width: 1em;
}

@media (max-width: 550px) {
    div.middle {
        left: 0;
        width: 100%;
    }
}
@media (max-width: 420px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 280px) {
    body {
        font-size: 12px;
    }
}
@media (max-width: 220px) {
    body {
        font-size: 8px;
    }
}
