:root {
    --background-color: #373737;
    --banner-color: #272727;
    --spacer-color: #171717;
    --text-color: grey;
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f7f7f7;
        --banner-color: #ffffff;
        --spacer-color: #B0B0B0;
        --text-color: #707070;
    }
}

html {
    height:100%;
    min-height:100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    font-size: 24px;
    min-width: 150px;
}
div.middle {
    background-color: var(--banner-color);
    position: absolute;
    left: 12%;
    width: 76%;
    height: calc(100% - 2em);
    padding-top: 2em;
}
div.button{
    position: static;
    box-sizing: border-box;
    height: 6.2em;
    border-bottom: 0.2em solid var(--spacer-color);
    background-color: var(--banner-color);
}
div.button a {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 4em;
    text-decoration: none;
    background-color: var(--banner-color);
    font-size: 1.5em;
    padding: 0.8em;
}
h1 {
    padding: 0.5em;
    padding-bottom: 1em;
    margin: 0;
    color: var(--text-color);
    font-size: 2.5em;
    border-bottom: 0.08em solid var(--spacer-color);
}
span.logo {
    position: absolute;
    font-size: 2.5em;
    padding: 0;
    margin-right: 0.8em;
    margin-top: 0;
    top: 0;
    left: 0.2em;
}
span.description {
    color: var(--text-color);
    font-size: 1.5em;
    position: absolute;
    left: 2.5em;
    top: 0.8em;
    padding: 0;
    margin: 0;
}
span.logo img {
    margin-top: 0.3em;
    width: 1em;
}

@media (max-width: 550px) {
    div.middle {
        left: 0;
        width: 100%;
    }
}
span.logo {
    position: absolute;
    font-size: 2.5em;
    padding: 0;
    margin-right: 0.8em;
    margin-top: 0;
    top: 0;
    left: 0.2em;
}
span.description {
    color: var(--text-color);
    font-size: 1.5em;
    position: absolute;
    left: 2.5em;
    top: 0.8em;
    padding: 0;
    margin: 0;
}
span.logo img {
    margin-top: 0.3em;
    width: 1em;
}

@media (max-width: 550px) {
    div.middle {
        left: 0;
        width: 100%;
    }
}
@media (max-width: 420px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 280px) {
    body {
        font-size: 12px;
    }
}
@media (max-width: 220px) {
    body {
        font-size: 8px;
    }
}
